.header__inner {
  @include container;
}

@media (min-width: $width-desktop) {
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

@media (min-width: $width-desktop) {
  .header__logo {
    width: 40%;
  }

  .header__contacts {
    width: 60%;
  }
}

.header__contacts-list {
  @include reset-list;
}

@media (min-width: $width-desktop) {
  .header__contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .header__contacts-list + .header__contacts-list {
    margin-top: 10px;
  }
}

@media (min-width: $width-desktop) {
  .header__contacts-item {
    color: $blue;
  }

  .header__contacts-item +   .header__contacts-item {
    margin-left: 20px;
  }

    .header__contacts-item a {
    color: inherit;
    font-weight: 400;
  }
}


