@media (min-width: $width-desktop) {
  .nav {
    border-top: 2px solid $blue;
    border-bottom: 2px solid $blue;
  }
}

.nav__list {
  @include reset-list;
  @include container;
}

@media (min-width: $width-desktop) {
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $width-desktop) {
  .nav__item {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav__item a {
    color: $blue;
  }
}
