.partners h2 {
  margin: 0;
  letter-spacing: -.03rem;
  font-size: 2.53rem;
  font-weight: 400;
  line-height: 1.1em;
  color: $blue;
  text-align: center;
}

@media (min-width: $width-desktop) {
  .partners {
    margin-top: 70px;
  }
}

.partners__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: $width-desktop) {
  .partners__list {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;
    margin-top: 40px;
  }
}

.partners__item {
  max-width: 140px;
}

@media (min-width: $width-desktop) {
  .partners__item {
    justify-self: center;
    align-self: center;
  }
  }
