@media (min-width: $width-desktop) {
  .slider {
    padding-top: 30px;
  }
}

  .slider__content {
  display: flex;
  flex-direction: column;
}

@media (min-width: $width-desktop) {
  .slider__content {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $width-desktop) {
  .slider__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.slider__content h2,
.slider__information {
  margin: 15px 0 15px 0;
}

.slider__content h2 {
  color: $blue;
}

@media (min-width: $width-desktop) {
  .slider__content h2 {
    padding: .5rem 0;
    font-size: 3.75rem;
    line-height: 1.1em;
  }
}

.slider__information {
  color: $dark-blue;
}

@media (min-width: $width-desktop) {
  .slider__information {
    padding: .1rem 0;
    font-size: 2.5rem;
    line-height: 1.1em;
  }
}

.slider__button {
  display: inline-flex;
  min-height: 48px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: .78rem;
  color: $white;
  background-color: $blue;

  &::after {
    content: "";
    width: 11px;
    height: 21px;
    margin-left: 20px;
    background-image: url("../img/white_arrow.png");
    background-repeat: no-repeat;
  }

  &:hover {
    background-color: $dark-blue;
  }
}

@media (min-width: $width-desktop) {
  .slider__button-wrapper {
    margin-bottom: 40px;
  }
}

.slider__pagination-bullet {
  display: inline-block;
  width: .83rem;
  height: .83rem;
  border-radius: 50%;
  background-color: $lighter-blue;
  margin-left: .43rem;
  cursor: pointer;

  &--active {
    width: 1.7rem;
    border-radius: .83rem;
    background-color: $blue;
  }
}
