@font-face {
  font-family: "Koedu";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/koedu-light.woff2") format("woff2");
}

@font-face {
  font-family: "Koedu";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/koedu-medium.woff2") format("woff2");
}

@font-face {
  font-family: "Koeduornaments";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/koeduornaments.woff2") format("woff2");
}
