html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Koedu", "Roboto", sans-serif;
  font-size: 1.04rem;
  line-height: 1.45em;
  font-weight: 100;
  color: $dark-blue;
}

main {
  flex: 1 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
}

[hidden] {
  display: none;
}

img {
  display: block;
}
